.content {
  width: 80vh;
  margin: auto;
  display: block;
  padding-top: 5rem;
}
#wrapper1,
#wrapper2 {
  color: white;
  width: 35rem;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(0.4turn, #014ef3, #ce6060, #c300ffc5);
}

.wrap {
  justify-content: space-around;
  margin-top: 60px;
}
#city {
  width: 60%;
}
button {
  width: 60px;
  height: 45px;
  border: 1px;
  border-radius: 15px;
}
.dt {
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding-top: 10px;
}

#pirmas {
  font-weight: 500;
  font-size: 36px;
}
.rytoj1,
.rytoj2,
.rytoj3 {
  font-size: 12px;
  border-bottom: 1px solid rgb(102, 102, 102);
}

#prognoze {
  width: 10rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #d1cbcb;
  color: white;
}
#h4-1,
#h4-2,
#h4-3 {
  font-size: 12px;
}
