#wrapper1,
#wrapper2 {
  color: white;
  width: 35rem;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(0.4turn, #0d2e3b, #311a31);
}

.wrap {
  justify-content: space-around;
  margin-top: 60px;
}
#city {
  width: 60%;
  height: 45px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button {
  width: 70px;
  height: 45px;
  border: 1px;
  border-radius: 5px;
  color: white;
  background-color: #008cba;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: both;
}
button:hover {
  background-color: #1b9cc7;
}
button:active {
  background-color: #0d2e3b;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.dt {
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding-top: 10px;
}

#pirmas {
  font-weight: 500;
  font-size: 36px;
}
.rytoj1,
.rytoj2,
.rytoj3 {
  font-size: 12px;
}

#prognoze:hover {
  background-color: #1b9cc7;
}

#h4-1,
#h4-2,
#h4-3 {
  font-size: 13px;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body::after {
  content: "";
  background: url(/pics/backg.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  filter: blur(8px);
}
tr:hover {
  background-color: #311a31;
}
td {
  padding: 10px;
}
img {
  position: relative;
  animation: mymove 1s infinite;
}
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    bottom: 1px;
  }
}
